<div class="p-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Products</h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let product of products">
               <td>{{product.id}}</td>
               <td>{{product.name}}</td>
               <td>{{product.price}}</td>
               <td>{{product.quantity}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>
